$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height: 100%;
}
body {
  margin: 0;
  background: radial-gradient(ellipse at center, #ff006a 0, black 80%, #110909 100%);
}

.heading {
  display: block;
  margin: 0 auto;
  
  h2 {
    color: #fff;
    text-align: center;
    
    a {
      color: #fff;
    }
  }
  
  p {
    color: #fff;
    text-align: center;
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #fff;
  stroke: #777;
}

.base {
  fill: red;
  cursor: pointer;
  stroke: red;
  stroke-width: 5px;
  stroke-linecap: square;
  stroke-linejoin: miter;
  
  &:hover {
    fill: blue;
    stroke: blue;
  }
}


.base.active {
  fill: blue;
  stroke: blue;
  stroke-width: 0.5px;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  font-family: monospace;
  color: #fff;
  padding: 2%;
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  text-align: center;
  color: #fff;
  height: 100px;
  background-color: #000;
  
  .credit {
    padding: 20px;
  }
}