$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body {
  margin: 0;
  font-size: 62.5%;
  background: radial-gradient(ellipse at center, #ff006a 0, black 80%, #110909 100%);
}

.heading {
  display: block;
  margin: 0 auto;
  
  h2 {
    color: #fff;
    text-align: center;
    
    a {
      color: #fff;
    }
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #fff;
  stroke: #777;
}

.base {
  fill: red;
  cursor: pointer;
  stroke: red;
  stroke-width: 5px;
  stroke-linecap: square;
  stroke-linejoin: miter;
  
  &:hover {
    fill: red;
  }
}


.base.active {
  fill: red;
  stroke-width: 0.5px;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  font-family: monospace;
  color: #fff;
  padding: 2%;
}