$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #555;
  stroke: #000;
  fill-opacity: 0.9;
}

.base {
  fill: none;
  cursor: pointer;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3.5px;
  fill-opacity: 0.1;

}

.base:hover {
  fill: orange;
}

.base.active {
  fill: orangered;
}


.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}